
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Hammersmith One;
}

/* NAVBER SECTION */
.logo{
    border: solid white;
    width: 10%;
    color: white;
    border-radius: 50%;
}

.link-iterm{
    display: flex;
    list-style: none;
    color: white;
    text-align: center;
}
.navbar-toggler{
    color: white;
    background-color: white;
}
.fa-twitter{
  color: white;
  margin: 10px;

}
.fa-linkedin{
    color: blue;
    margin: 10px;
}
.fa-github{
    color: white;
    margin: 10px;
}

.social-links{
    display: flex;
    list-style: none;
}
a:hover{
    color: rgb(223, 205, 163);
}

a{
    color: rgb(223, 205, 163);
}

/* MAIN SECTION */
.my-header{
    color: rgb(223, 205, 163);
}

#main-2{
    display: none;
}

.jonathan-imag{
    display: none;
    /* width: 100%; */
}

.element{
    float: left;
    width: 400px;
    height: 350px;
    position: relative;
    margin: 50px ;
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.front img{
    width: 100%;
    height: 100%;
}

.back{
    background: linear-gradient(to bottom right,red,yellow);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid #222;
    z-index: -2;
    box-sizing: border-box;
}

.pname{
    font-weight: bold;
    font-size: 24px;
}

.description{
    margin: 20px 0;
}

.back-content{
    padding: 0 70px;
}

.icons .fa{
    font-weight: bold;
    font-size: 22px;
    margin: 0 5px;
}

/* elem */

.element .back-content{
    transform: scale(0);
    opacity: 0;
    transition: all 1s ease;
}

.element:hover .front{
    width: 100px;
    height: 100px;
    left: calc(100% - 50px);
    top: calc(50% - 50px);
  
}

.element:hover .front img{
    border-radius: 50px;
    /* box-shadow: 0 0 20px blue, 0 0 40px black; */
    box-shadow: 0 0 0 5px #fff;
}

.element:hover .back-content{
    transform: scale(1);
    opacity: 1;
}

.my-image{
    width: 70%;
    height: 89%;
    border-radius: 50%;
    position: relative;
    left: 20%;
}

.getintouch-btn{
    padding: 0.7rem 3rem 0.7rem 3rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: gray;
    color: rgb(223, 205, 163);
    border: none;
    margin-top: 30px;
}

.getintouch-btn:hover{
    padding: 0.7rem 3rem 0.7rem 3rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: black;
    color: white;
    border: solid 1px white;
    transition: ease-in-out 0.3s;
    color: rgb(223, 205, 163);
}

.my-para{
    color: white;
}

/* I CAN HELP SECTION */
.my-rower{
    background-image: url('./image/Meteorite_bg1.svg');
    background-repeat: no-repeat;
    background-size: 600px;
}

.research-col,.design-col,.develop-col{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes example {
    0%   {background-color:#fffbdf;}
    50%  {background-color:#f7a440;}
    75%  {background-color:#ffc288;}
  }
   

.icanHelp-head{
    color: rgb(223, 205, 163);
}

.design{
    color: rgb(223, 205, 163);
}

.develop{
    color: rgb(223, 205, 163);
}

.research{
    color: rgb(223, 205, 163);
}

.research-col{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

.design-col{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

.develop-col{
    background-color: gray;
    padding: 20px;
    border-radius: 10px; 
}

/* ABOUT SECTION */

.about-head{
    color: rgb(223, 205, 163);
}

.opportun-para{
    color: rgb(223, 205, 163);
}

.about-col{
   border: solid 5px gray;
   padding: 40px;
}
.about-col-2{
    border: solid 5px gray;
   padding: 40px;
}

.current{
    border: solid 5px gray;
    padding: 20px;
    color: white;
}


/* CONTACT SECTION */

.wrapper label{
    display: block;
    margin: 0.9em 0;
}


.wrapper label input{
    font-size: 18px;
    padding: 0.5em;
    width: 82% !important;
}

.wrapper input[type="submit"]{
    padding: 0.7rem 3rem 0.7rem 3rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: gray;
    color: rgb(223, 205, 163);
    border: none;
    margin-top: 7px;
}

.wrapper input[type="submit"] :hover{
    padding: 0.7rem 3rem 0.7rem 3rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: black;
    color: white;
    border: solid 1px white;
    transition: ease-in-out 0.3s;
    color: rgb(223, 205, 163);
}

.contact-head{
    padding-top: 20%;
    color: rgb(223, 205, 163);
}


@media(max-width: 768px){
    .element{
     display: none;
    }

    
    #social{
        margin: 0 auto;
        display: block;
        width: 130px;
        /* border: solid red; */
    }

    .social-links, li{
        text-align: center !important;
        margin: 0 auto !important;
        /* margin-left: auto !important; */
        /* margin-right: auto !important; */
    }

    .develop,.design,.research{
        width: 100%;
        font-size: 20px;
    }

    .icanHelp-head{
        margin-top: 40px;
    }
    
    .jonathan-imag{
        display: block;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
    .link-iterm {
        display: block;
        text-align: start;
        margin: 20px;
    }
    .child-link{
        margin: 10px;
    }
    
    .contact-para,.contact-head{
        text-align: center;
    }
    
    #main,#about{
        text-align: center;
    }
    
    .my-col{
        padding: 20px;
    }
    
    .my-rower{
        background-image: url('./image/Meteorite_bg1.svg');
        background-repeat: no-repeat;
        background-size: 300px;
    }
    }

@media(max-width: 540px){
    .element{
     display: none;
    }

    #main-2{
        display: block;
    }

    #main{
        display: none;
    }
   #my-text-col{
       text-align: center;
   }
    .btn{
     margin-top: 20px;
     margin-bottom: 30px;
    }

    .my-header{
        padding-bottom: 20px;
    }

    .tools-icon{
        width: 100px;
    }
    
    .jonathan-imag{
        display: block;
        padding-bottom: 30px;
        padding-top: 30px;
        /* border-radius: 50%; */
        margin: 0 auto;
        width: 340px;
        /* height: 500px; */
    }
    
    .link-iterm {
        display: block;
        text-align: start;
        margin: 20px;
    }
    .child-link{
        margin: 10px;
    }
    
    .contact-para,.contact-head{
        text-align: center;
    }
    
    #main,#about{
        text-align: center;
    }

    #social{
        margin: 0 auto;
        display: block;
        width: 130px;
        /* border: solid red; */
    }

    .social-links, li{
        text-align: center !important;
        margin: 0 auto !important;
        /* margin-left: auto !important; */
        /* margin-right: auto !important; */
    }
    a:hover{
        color: gold;
        text-align: center;
    }
    
    a{
        color: gold;
        text-align: center;
       margin: 0 auto;
       display: block;
    }
    
    .my-col{
        padding: 20px;
    }
    
    .my-rower{
        background-image: url('./image/Meteorite_bg1.svg');
        background-repeat: no-repeat;
        background-size: 300px;
    }
    }

@media(max-width: 520px){
.element{
 display: none;
}

.jonathan-imag{
    display: block;
    padding-bottom: 30px;
    padding-top: 30px;
}

.link-iterm {
    display: block;
    text-align: start;
    margin: 20px;
}
.child-link{
    margin: 10px;
}

.contact-para,.contact-head{
    text-align: center;
}

#main,#about{
    text-align: center;
}

.my-col{
    padding: 20px;
}

.my-rower{
    background-image: url('./image/Meteorite_bg1.svg');
    background-repeat: no-repeat;
    background-size: 300px;
}
#social{
    margin: 0 auto;
    display: block;
    width: 130px;
    /* border: solid red; */
}

.social-links, li{
    text-align: center !important;
    margin: 0 auto !important;
    /* margin-left: auto !important; */
    /* margin-right: auto !important; */
}
}





